html { outline: 4px dashed hotpink !important; }
.bg-index{
    background: url("/static/img/background.jpg") no-repeat
      fixed;
    background-size: 100% auto;
}

.navbar a.nav-link {
    color: #FFFEF6 !important;
}

.bg-dark {
    background-color: #2E2E2E !important;
}

.ms-footer {
    background-color: #202020;
}
.ms-footer p {
    color: #7F7F7F;
    font-size: 13px;
}
.ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
}
.ms-footer-bottom span{
    font-size: 13px;
    line-height: 38px;
}
.ms-footer-bottom a {
    color: #6ab43e;
    text-decoration: none;
}
.ms-footer-bottom a:hover {
    color: #fff;
}

/* .img-card-200 {
    width: fit-content;
    max-height: 300px;
}

.img-card-400 {
    width: fit-content;
    max-height: 400px;
} */

.avatar {
    inline-size: 128px;           /* width */
    block-size: 128px;            /* height */
    border-radius: 50%;           /* circle */
    object-fit: cover;            /* crop to fill without distortion */
    object-position: center;
    display: block;
    box-shadow: 0 1px 4px rgba(0,0,0,.12);
}

.avatar-big {
    inline-size: 300px;           /* width */
    block-size: 300px;            /* height */
    border-radius: 50%;           /* circle */
    object-fit: cover;            /* crop to fill without distortion */
    object-position: center;
    display: block;
    box-shadow: 0 1px 4px rgba(0,0,0,.12);
}